<header>
      <div class="header-nav">
        <% if user_signed_in? %>
        <div class="app_logo">
          <%= link_to home_index_path do %>
            <%= image_tag 'app_logo.png', class: 'logo' %>
          <% end %>
        </div>

        <div class="nav">
        <% if @main == "Clouds" then %>
              <%= image_tag 'Clouds.png', class: 'Clouds' %>
          <% elsif @main == "Rain" then %>
              <%= image_tag 'Rain.png', class: 'Rain' %>
          <% elsif @main == "Clear" then %>
              <%= image_tag 'Clear.png', class: 'Clear' %>
          <% elsif @main == "Snow" then %>
              <%= image_tag 'Snow.png', class: 'Snow' %>
          <% elsif @main == "Thunderstorm" then %>
              <%= image_tag 'Thunder.png', class: 'Thunder' %>
          <% else %>
              <%= image_tag 'Clouds.png', class: 'Clouds' %>
        <% end %>
        <%=  "#{@temperature_celsius}℃" %>
        
          <%= link_to 'アイテム登録',  new_item_path %>
          <%= link_to 'クローゼット', items_path %>
           <%= link_to user_path(current_user) do %>
            <%= current_user.name %>
           <% end %>
          <%= link_to 'ログアウト', destroy_user_session_path , method: :delete %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path %>
          <%= link_to '新規登録', new_user_registration_path %>
        </div>
          
        <% end %>
      </div>
    </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>