<p>カレントほーむ</p>

<%= form_for(home_index_path, method: "get") do %>
  <%= label_tag(:clean_index, "Clean Index:") %>
  <%= number_field_tag(:clean_index, nil, id: "clean_index") %>
  
  <%= label_tag(:heat_index, "Heat Index:") %>
  <%= number_field_tag(:heat_index, nil, id: "heat_index") %>
  
  <%= submit_tag("Submit") %>
<% end %>

<% if @selected_items.present? %>
  <% clean_index_avg = @selected_items.sum(&:clean_index).to_f / @selected_items.size %>
  <p>Clean Indexの平均: <%= clean_index_avg %></p>
  
  <% heat_index_sum = 0 %>
  <% count = 0 %>
  <% genre_3_items = @selected_items.select { |item| item.genre_id == 3 } %>
  
  <% if genre_3_items.present? %>
    <% genre_3_items.each do |item| %>
      <% heat_index_sum += item.heat_index %>
      <% count += 1 %>
    <% end %>
    <% heat_index_avg = heat_index_sum.to_f / count %>
    <p>Heat Indexの平均: <%= heat_index_avg %></p>
  <% else %>
    <% genre_2_4_items = @selected_items.select { |item| [2, 4].include?(item.genre_id) } %>
    <% if genre_2_4_items.present? %>
      <% heat_index_sum = genre_2_4_items.sum(&:heat_index) %>
      <% count = genre_2_4_items.size %>
      <% heat_index_avg = heat_index_sum.to_f / count %>
      <p>Heat Indexの平均: <%= heat_index_avg %></p>
    <% else %>
      <p>Heat Indexの平均: N/A</p>
    <% end %>
  <% end %>
<% end %>

<% @selected_items.each do |item| %>
  <%= item.clean_index %>
  <% if item.image.attached? %>
    <%= image_tag item.image %>
  <% end %>
<% end %>