
<div class="container">
    <div class="contents">
<% @selected_items.each do |item| %>
<div class="item">
  <div class="data">
    <div class="img">
    <%= link_to item_path(item) do %>
      <% if item.image.attached? %>
        <%= image_tag item.image %>
      <% end %>
    <% end %>
  </div>

  <div class="info">
  <p><%= item.name %></p>
  <p>綺麗め度:<%= item.clean_index %></p>
  <p>厚着度:<%= item.heat_index %></p>
  </div>
  </div>
    
</div>
  
<% end %>
</div>


<div class="nav">
<%= form_with(url: home_index_path, method: "get", local: true) do |f| %>

<div class="clean-index">
<%= image_tag 'white_shirt.png', class: 'white_shirt' %>

<div class="ratings">
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>
    <span class="fa fa-star-o" id="star"></span>
  </div>
  <%= f.hidden_field :clean_index, id: "rating-value" %>

  <%= image_tag 'suit.png', class: 'suit' %>
</div>

<div class="heat-index">
  <%= image_tag 'minus-solid.svg', class: 'white_shirt' %>

  <div class="heatings">
    <span class="fa fa-circle-o" id="heat"></span>
    <span class="fa fa-circle-o" id="heat"></span>
    <span class="fa fa-circle-o" id="heat"></span>
    <span class="fa fa-circle-o" id="heat"></span>
    <span class="fa fa-circle-o" id="heat"></span>
    <span class="fa fa-circle-o" id="heat"></span>
    <span class="fa fa-circle-o" id="heat"></span>
    <span class="fa fa-circle-o" id="heat"></span>
    <span class="fa fa-circle-o" id="heat"></span>
  </div>
  <%= f.hidden_field :heat_index, id: "heat-value" %>

  <%= image_tag 'plus-solid.svg', class: 'white_shirt' %>
</div>
  

  <div class="color-difference"></div>

  <div class="button">
    <%= f.submit "コーデを組む" %>
  </div>
<% end %>
  
</div>

</div>

<%= javascript_include_tag "items.js" %>








