<%= form_with(model: @item, local: true, url: items_path) do |f| %>
  <div class="new-form">
      <%= f.label :アイテム名%>
      <%= f.text_field :name%>
  </div>


  <div class="new-form-img">
    <%= f.label :画像%>
    <%= f.file_field :image %>
  </div>

  <span class="fa fa-star-o" id="star"></span>
  <span class="fa fa-star-o" id="star"></span>
  <span class="fa fa-star-o" id="star"></span>
  <span class="fa fa-star-o" id="star"></span>
  <span class="fa fa-star-o" id="star"></span>

  <%= f.hidden_field :clean_index, id: "rationg-value" %>
  

  <div class="new-form ">
      <%= f.submit "アイテムを追加する" %>
  </div>

  
      
<% end %>