<%= form_with(model: @item, local: true, url: items_path) do |f| %>
  <div class="new-form">
      <%= f.label :アイテム名%>
      <%= f.text_field :name%>
  </div>


  <div class="new-form-img">
    <%= f.label :画像%>
    <%= f.file_field :image %>
  </div>

  <div class="ratings">
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
  </div>
  <%= f.hidden_field :clean_index, id: "rating-value" %>

  <div class="heatings">
      <span class="fa fa-circle-o" id="heat"></span>
      <span class="fa fa-circle-o" id="heat"></span>
      <span class="fa fa-circle-o" id="heat"></span>
      <span class="fa fa-circle-o" id="heat"></span>
      <span class="fa fa-circle-o" id="heat"></span>
  </div>
  <%= f.hidden_field :heat_index, id: "heat-value" %>
  

  <div class="new-form ">
      <%= f.submit "アイテムを追加する" %>
  </div>

<% end %>

<%= javascript_include_tag "items.js" %>