<!DOCTYPE html>
<html>
  <head>
    <title>Coord_app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div class="header-nav">
        <% if user_signed_in? %>
        <div class="app_logo">
          <%= link_to "/" do %>
            <%= image_tag 'app_logo.png', class: 'logo' %>
          <% end %>
        </div>
          <%= link_to 'アイテム登録', "#" %>
          <%= link_to 'クローゼット', "#" %>
          <%= link_to 'ログアウト', destroy_user_session_path , method: :delete %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path %>
          <%= link_to 'サインアップ', new_user_registration_path %>
        <% end %>
      </div>
    </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
