<!DOCTYPE html>
<html>
  <head>
    <title>Coord_app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="reset.css">
    <script src="https://kit.fontawesome.com/18081664c9.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <% if user_signed_in? %>
      <%= render 'shared/header'%>
    <% else %>
    <% end %>

    <!-- アラートの表示 -->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    
    <%= yield %>

    <%= render 'shared/footer'%>
  </body>
</html>