<div class="container">
  <div class="forms">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password" ,:placeholder => "パスワード(6字以上)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "パスワード(確認用)" %>
  </div>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "お名前" %>
  </div>

    <div class="field">
      <%= f.text_field :home_adress, autofocus: true, autocomplete: "home_adress", :placeholder => "居住地"%>
    </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
<%= render "users/shared/links" %>

  </div>
</div>




