<div class="container">
  <div class="forms">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password" ,:placeholder => "パスワード(6字以上)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "パスワード(確認用)" %>
  </div>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "お名前" %>
  </div>

    <div class="field">
      <%= f.select :home_adress,[["北海道", "hokkaido"], ["青森", "aomori"], ["岩手", "iwate"], ["宮城", "miyagi"], ["秋田", "akita"], ["山形", "yamagata"], ["福島", "hukui"], ["茨城", "ibaraki"],  ["栃木", "tochigi"], ["群馬", "gunnma"], ["埼玉", "saitama"], ["千葉", "chiba"], ["東京", "tokyo"], ["神奈川", "kanagawa"], ["新潟", "niigata"], ["富山", "toyama"], ["石川", "ishikawa"], ["福井", "hukui"], ["山梨", "yamanashi"], ["長野", "nagano"], ["岐阜", "gihu"], ["静岡", "shizuoka"], ["愛知", "aichi"], ["三重", "mie"], ["滋賀", "shiga"], ["京都", "kyoto"], ["大阪", "osaka"], ["兵庫", "hyogo"], ["奈良", "nara"], ["和歌山", "wakayama"], ["鳥取", "tottori"], ["島根", "shimane"], ["岡山", "okayama"], ["広島", "hiroshima"], ["山口", "yamaguchi"], ["徳島", "tokushima"], ["愛媛", "ehime"], ["高知", "kouchi"], ["福岡", "hukushima"], ["佐賀", "saga"], ["長崎", "nagasaki"], ["熊本", "kumamoto"], ["大分", "oita"],["宮崎", "miyazaki"], ["鹿児島", "kagoshima"], ["沖縄", "okinawa"],  ], include_blank: "居住地" , autofocus: true, autocomplete: "home_adress"%>
    </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
<%= render "users/shared/links" %>

  </div>
</div>




